<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sign In</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/signin}" method="post" th:object="${signInCommand}">
        <div th:class="${#fields.hasErrors('username')} ? 'form-group has-error' : 'form-group'">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="usernameInput" placeholder="Enter username" th:field="*{username}" th:errorclass="has-error"/>
            <span class="help-block" th:if="${#fields.hasErrors('username')}">
                <ul>
                    <li th:each="err : ${#fields.errors('username')}" th:text="${err}"></li>
                </ul>
            </span>
        </div>
        <div th:class="${#fields.hasErrors('password')} ? 'form-group has-error' : 'form-group'">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password" th:field="*{password}" />
            <span class="help-block" th:if="${#fields.hasErrors('password')}">
                <ul>
                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                </ul>
            </span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>